* {
  /* border: 1px solid black; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height:100%;
  width: 100%;
  display:flex;
}
/* body {
  min-height:100vh;
} */

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-rows: 50px auto;
  padding: 10px;
  position:relative;
  height: 100%;
  width: 100%;
}

#booklist {
  display: block;
  /* grid-row: 2/-1; */
  grid-column: 1/-1;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  border-collapse: collapse;
  letter-spacing: 1px;
  justify-self: center;
  height: 99%;
}

td, th {
  border: 1px solid black;
  padding: 2px;
}

.delete_button {
  width: 20px;
  height: 20px;
  background-image: url("resources/delete.svg");
  border: none;
  border-radius: 2px;
  background-color: rgb(211, 211, 211);
}

.delete_button:active{
  background-color: red;
}

tbody tr td:nth-child(n+3) {
  text-align: center;
}

td:nth-child(1), th:nth-child(1) {
  width: 300px;

}
td:nth-child(2), th:nth-child(2) {
  width: 150px;

}

/* Form styling */
.popup-container {
  display:none;
  border: 3px solid black;
  background-color: #fff;
  position:absolute;
  top:20px;
  left:50%;
  transform: translate(-50%)
}

.form-container {
  max-width: 300px;
  padding:10px;
  box-sizing: border-box;
  display:grid;
  grid-template-rows: repeat(6 1fr);
}

input[type="text"],
input[type="number"] {
  width: 100%;
}

.formbutton-container {
  justify-self: center;
}