* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  grid-template-rows: 1fr 6fr;
  padding: 10px;
}

#booklist {
  display: block;
  grid-row: 2/-1;
  grid-column: 1/-1;
  margin-top: 20px;
  border-collapse: collapse;
  /* border: 2px solid black; */
  letter-spacing: 1px;
  justify-self: center;
}

td, th {
  border: 1px solid black;
  padding: 2px;
}
.delete_button {
  width: 20px;
  height: 20px;
  background-image: url("resources/delete.svg");
  border: none;
  border-radius: 2px;
  background-color: rgb(211, 211, 211);
}

.delete_button:active{
  /* filter: invert(8%) sepia(90%) saturate(7474%) hue-rotate(4deg) brightness(82%) contrast(108%);
  color: #b40000; */
  background-color: red;
}

/* Form styling */
.popup-container {
  display:none;
  /* display:block; */
  border: 3px solid black;
  background-color: #fff;
  position:fixed;
}

.form-container {
  max-width: 300px;
  padding:10px;
  box-sizing: border-box;
  display:grid;
  grid-template-rows: repeat(6 1fr);
}

input[type="text"],
input[type="number"] {
  width: 100%;
}

.formbutton-container {
  justify-self: center;
}